.card img{
  height: 230px;
  width:100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.card {
  height: 360px;
  width: 250px;
  background-color:rgb(250,250,250);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

.card h3 {
  margin: 0;
  padding-top: 10px;
  text-align: center;
}

.card p {
  margin: 10px 0;
  text-align: center;
  font-size: 15px;
  padding: 0 10px;
}
