.footer {
  background-color: #2C2B2B;
  margin-bottom: 0;
  padding: 20px 0;
}

.footer p {
  margin: 0;
  text-align: center;
  color: rgb(250,250,250);
  padding-bottom: 30px;
}

.list > ul {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-left: 0;
}

.list > ul > li {
  font-size: 35px;
}

.list a {
  color: white;
}
